<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dev_coffee.mapper.OrderMapper">

    <!-- 결과 맵 -->
    <resultMap id="OrderResultMap" type="com.example.dev_coffee.entity.Order">
        <id property="orderId" column="order_id" jdbcType="BINARY"/>
        <result property="email" column="email"/>
        <result property="address" column="address"/>
        <result property="postcode" column="postcode"/>
        <result property="orderStatus" column="order_status"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <!-- 주문 추가 -->
    <insert id="insertOrder" parameterType="com.example.dev_coffee.entity.Order">
        INSERT INTO ORDERS(ORDER_ID, EMAIL, ADDRESS, POSTCODE, ORDER_STATUS, CREATED_AT)
        VALUES(UUID_TO_BIN(UUID()), #{email}, #{address}, #{postcode}, "주문완료", NOW())
    </insert>

    <!-- 주문 수정 -->
    <update id="updateOrder" parameterType="com.example.dev_coffee.dto.OrderDTO">
        UPDATE orders
        SET email = #{email},address = #{address},postcode = #{postcode},  order_status = #{orderStatus},updated_at = NOW()
        WHERE BIN_TO_UUID(ORDER_ID) = #{orderId}
    </update>

    <!-- 주문 삭제 -->
    <delete id="deleteOrder" parameterType="byte[]">
        DELETE FROM orders WHERE BIN_TO_UUID(ORDER_ID) = #{orderId}
    </delete>

    <!-- 단일 주문 조회 -->
    <select id="selectOrderById" parameterType="byte[]" resultMap="OrderResultMap">
        SELECT * FROM orders WHERE order_id = #{orderId, jdbcType=BINARY}
    </select>

    <!-- 모든 주문 조회 -->
    <select id="selectAllOrders" resultMap="OrderResultMap">
        SELECT * FROM orders
    </select>

    <!-- 이메일로 주문 조회 -->
    <select id="getOrdersByEmail" parameterType="String" resultMap="OrderResultMap">
        SELECT * FROM orders WHERE email = #{email}
    </select>

</mapper>

